<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
</head>
<body>
  <h2>ลืมรหัสผ่าน</h2>
  <p>กรอกอีเมลเพื่อรีเซตรหัสผ่าน</p>

  <form action="/forgot-password" method="POST">
    <input type="email" name="email" required><br><br>

    <button type="submit">ส่งลิงก์</button>
  </form>

  <p>จำรหัสผ่านได้แล้ว ? <a href="/login">ล็อกอิน</a></p>
</body>
</html>
